.inp-box {
    height: auto;
    width: auto;
}

/* .inp-label {
    top: 50%;
    left: 11px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.35s;
    padding: 0 5px;
    font-size: 14px;
    color: #333;
} */

.inp-box input {
    height: 45px;
    width: 100%;
    padding: 14px;
    border: 2px solid #888;
    outline: none;
    background-color: transparent;
    color: #333;
    font-size: 14px;
    transition: all 0.35s;
    box-sizing: border-box;
}

.inp-box input:focus {
    border-color: #605BFF;
}

.inp-box input:focus ~ .inp-label {
    background-color: #FFF;
    transform: translateY(-35px);
}
